body {
	background-color:rgb(139, 189, 220);
	font-family:antique-olive, sans-serif;
	font-weight:400;
	font-size:4vw;
	font-style:normal;
	color:black;
}

.page {
	display:flex;
	flex-wrap:wrap;
	width:100vw;
}

div.right::-webkit-scrollbar {
	width:5px;
}
div.right::-webkit-scrollbar-track {
	background:rgb(252, 252, 243);
}
div.right::-webkit-scrollbar-thumb {
	background:black;
}



/* CURSOR (https://dev.to/b4two/how-to-make-a-custom-cursor-with-css-and-jquery-5g3m) */

html,* {
	cursor:none;
}
.cursor {
	position:fixed;
	width:40px;
	height:40px;
	border-radius:50%;
	background-color:#16693B;
	pointer-events:none;
	mix-blend-mode:difference;
	z-index:999;
	transition:transform 0.6s, background-color 0.6s;
  }



/* RIGHT, ESSAY TEXT */

.right {
	width:50vw;
	height:100vh;
	background-color:rgb(252, 252, 243);
	overflow:scroll;
	padding:20px;
	padding-top:30px;
	overflow-x:hidden;
}

a:link {
	color:black;
	background-color:transparent;
	text-decoration:none;
}
a:visited {
	color:black;
}
a:hover {
	color:#16693B;
}
a:active {
	color:black;
}

::selection {
	color:rgb(235, 112, 18);
	background:rgb(255, 207, 51);
}
::-moz-selection {
	color:rgb(235, 112, 18);
	background:rgb(255, 207, 51);
}

.linkNPR {
	width:35vw;
	margin-top:4.8vw;
	padding-bottom:3vw;
	font-size:2vw;
	line-height:2.4vw;
	border-bottom:black solid 1px;
}

.copy {
	width:46vw;	
	margin-top:2vw;
	margin-bottom:1vw;
}

h1 {
	font-family:antique-olive, sans-serif;
	font-weight:400;
	font-size:2vw;
	line-height:3.6vw;
	font-style:normal;
}

h2 {
	font-family:antique-olive, sans-serif;
	font-weight:400;
	font-size:1.2vw;
	line-height:2vw;
	font-style:normal;
	color:black;
}

/* 
h3 AILSA CHANG Host
h4 JEANNIE CAMPBELL Guest
h5 HANNA ROSIN Host 
h6 RUTH OGDEN Guest
*/

h3 {
	font-family:antique-olive, sans-serif;
	font-weight:500;
	font-size:4vw;
	font-style:normal;
}

h4 {
	font-family:antique-olive, sans-serif;
	font-weight:500;
	font-size:4vw;
	font-style:normal;
}

h5 {
	font-family:antique-olive, sans-serif;
	font-weight:500;
	font-size:4vw;
	font-style:normal;
}

h6 {
	font-family:antique-olive, sans-serif;
	font-weight:500;
	font-size:4vw;
	font-style:normal;
}



/* LEFT, CLOCK */

.leftHidden {
	width:50vw;
	height:100vh;
	background-color:#16693B;
	overflow:hidden;
	padding:20px;
}

#clockCorrect {
	font-family:antique-olive-nord, sans-serif;
	font-weight:400;
	font-size:10vw;
	line-height:94vh;
	font-style:normal;
	color:rgb(252, 252, 243);
	text-align:center;
	-webkit-touch-callout:none;
    -webkit-user-select:none;
 	-khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none; 
}

.left {
	position:fixed;
	top:0;
	left:0;
	width:50vw;
	height:100vh;
	background-color:black;
	overflow:hidden;
	padding:20px;
}

#clockWrong {
	position:absolute;
	width:47vw;
	z-index:99;
	font-family:antique-olive-nord, sans-serif;
	font-weight:400;
	font-size:10vw;
	line-height:94vh;
	font-style:normal;
	text-align:center;
	color:rgb(252, 252, 243);
	-webkit-touch-callout:none;
    -webkit-user-select:none;
 	-khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none; 
}



/* TOGGLE SWITCH (https://jsfiddle.net/o8ruye1k/3/) */

.switch {
    position:fixed;
	bottom:4vh;
	left:4vh;
    width:60px;
    height:34px;
	z-index:99;
  }
  
  .switch input { 
    opacity:0;
    width:0;
    height:0;
  }
  
  .slider {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgb(252, 252, 243);
    -webkit-transition:.4s;
    transition:.4s;
  }
  
  .slider:before {
    position:absolute;
    content:"";
    height:26px;
    width:26px;
    left:4px;
    bottom:4px;
    background-color:black;
    -webkit-transition:.4s;
    transition:.4s;
  }
  
  input:checked + .slider {
    background-color:rgb(252, 252, 243);
  }
  
  input:checked + .slider:before {
    -webkit-transform:translateX(26px);
    -ms-transform:translateX(26px);
    transform:translateX(26px);
  }
  
  .slider.round {
    border-radius:34px;
  }
  
  .slider.round:before {
    border-radius:50%;
  }