body {
	font-family:monospace;
	font-size:11px;
	color:whitesmoke;
	background-color:black;
	-webkit-user-select:none;  /* Chrome all / Safari all */
	-moz-user-select:none;     /* Firefox all */
	-ms-user-select:none;      /* IE 10+ */
	user-select:none;          /* Likely future */ 
}

@font-face {
    font-family:'HelveticaMonospacedW06-Rg';
    src:url('fonts/HelveticaMonospacedW06-Rg.woff') format('woff');
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

::-webkit-scrollbar {
	-webkit-appearance:none;
	width:5px;
	height:5px; 
}

  ::-webkit-scrollbar-thumb {
	border-radius:0px;
	background-color:whitesmoke;
}

img {
	width:100%;
	display:block;
}

iframe {
	display:block;
}



/* FIRST IMAGES */

.titleFirst {
	font-family:Helvetica;
	font-size:5vw;
	font-weight:600;
	line-height:114%;
	color:whitesmoke;
	text-shadow:0 0 3px black;
	width:38%;
	position:absolute;
	top:5%;
	left:2%;
	z-index:15;
}

.randomSat {
	width:100%;
	height:100vh;
	position:absolute;
	top:0%;
	left:0%;
	z-index:10;
}

.imageEarth {
	width:32%;
	position:absolute;
	top:10%;
	right:10%;
	z-index:10;
	border-radius:50%;
	overflow:hidden;
	transition:opacity 1s ease-in-out;
}

.imageEarth:hover {
	opacity:0;
}

.imageEarthDark {
	width:32%;
	position:absolute;
	top:10%;
	right:10%;
	z-index:9;
	border-radius:50%;
	overflow:hidden;
}

.block1 {
	width:42%;
	height:26vw;
	overflow:scroll;
	overflow-x:hidden;
	position:absolute;
	top:20%;
	left:4%;
	z-index:12;
	background-color:black;
	padding:2vw;
	font-family:Helvetica;
	font-size:1.6vw;
	font-weight:600;
	line-height:110%;
	border:1px solid whitesmoke;
	color:whitesmoke;
}











/* APOLLO IMAGES */

.titleApollo {
	font-family:Helvetica;
	font-size:5vw;
	font-weight:600;
	color:whitesmoke;
	text-shadow:0 0 3px black;
	width:38%;
	position:absolute;
	top:6%;
	left:2%;
	z-index:15;
}

.imageApolloBig {
	width:38%;
	position:absolute;
	top:6%;
	right:4%;
	z-index:2;
	cursor:move;
	cursor:grab;
}

.imageApolloBig:active {
	cursor:grabbing;
}

.imageMoon {
	width:18%;
	position:absolute;
	top:21%;
	right:33%;
	z-index:9;
	border-radius:50%;
	overflow:hidden;
	cursor:move;
	cursor:grab;
}

.imageMoon:active {
	cursor:grabbing;
}

.imageLunarVehicle {
	width:16.5%;
	position:absolute;
	top:-3%;
	right:54.5%;
	z-index:9;
	border-radius:50%;
	overflow:hidden;
	cursor:move;
	cursor:grab;
}

.imageLunarVehicle:active {
	cursor:grabbing;
}

.imageAstro {
	width:8%;
	position:absolute;
	top:31.4%;
	left:29%;
	z-index:10;
	cursor:move;
	cursor:grab;
}

.imageAstro:active {
	cursor:grabbing;
}

.imageLanding {
	width:42%;
	position:absolute;
	top:20%;
	left:5%;
	z-index:-1;
}

.imageFootprint {
	width:28%;
	position:absolute;
	top:60%;
	right:8.5%;
	z-index:-1;
}

.imageApolloCircle {
	width:18%;
	position:absolute;
	top:77.5%;
	right:78%;
	z-index:3;
	border-radius:50%;
	overflow:hidden;
	cursor:move;
	cursor:grab;
}

.imageApolloCircle:active {
	cursor:grabbing;
}

.imageMini {
	width:20%;
	position:absolute;
	top:57.5%;
	right:24.5%;
	z-index:10;
	cursor:move;
	cursor:grab;
}

.imageMini:active {
	cursor:grabbing;
}

.imageRecordOne {
	width:12%;
	position:absolute;
	top:0%;
	right:10%;
	z-index:10;
	cursor:move;
	cursor:grab;
}

.imageRecordOne:active {
	cursor:grabbing;
}

.imageRecordTwo {
	width:50%;
	position:absolute;
	top:-4.5%;
	left:0%;
	z-index:-1;
}

.imageRecordThree {
	width:20%;
	position:absolute;
	top:76%;
	right:54%;
	z-index:10;
	border-radius:50%;
	overflow:hidden;
	cursor:move;
	cursor:grab;
}

.imageRecordThree:active {
	cursor:grabbing;
}

.imageRecordFour {
	width:22%;
	position:absolute;
	top:33%;
	right:13%;
	z-index:10;
	cursor:move;
	cursor:grab;
}

.imageRecordFour:active {
	cursor:grabbing;
}

.imageRecordFive {
	width:30%;
	position:absolute;
	bottom:25%;
	left:5%;
	z-index:10;
	cursor:move;
	cursor:grab;
}

.imageRecordFive:active {
	cursor:grabbing;
}

.imageRecordSix {
	width:20%;
	position:absolute;
	top:12%;
	right:24.5%;
	z-index:10;
	cursor:move;
	cursor:grab;
}

.imageRecordSix:active {
	cursor:grabbing;
}

.imageRecordSeven {
	width:14%;
	position:absolute;
	top:65%;
	right:5%;
	z-index:10;
	cursor:move;
	cursor:grab;
}

.imageRecordSeven:active {
	cursor:grabbing;
}

.moonObjects {
	width:100%;
	position:absolute;
	top:10%;
	left:0%;
	z-index:3;
}

.moonCircle {
	fill:black;
	fill-opacity:0;
	stroke:whitesmoke;
	stroke-width:1.3551;
	transition:fill .3s ease-out, stroke-width .3s ease-out;
}

.moonCircle:hover {
	fill:whitesmoke;
	fill-opacity:1;
	stroke-width:8;
}


/* ISS IMAGES */

.titleIss {
	font-family:Helvetica;
	font-size:5vw;
	font-weight:600;
	color:whitesmoke;
	text-shadow:0 0 3px black;
	width:38%;
	position:absolute;
	top:6%;
	left:2%;
	z-index:15;
}

.imageIssTrans {
	width:30%;
	position:absolute;
	top:-3%;
	right:28%;
	z-index:10;
	cursor:move;
	cursor:grab;
}

.imageIssTrans:active {
	cursor:grabbing;
}

.imageIssLong {
	width:18%;
	position:absolute;
	top:20%;
	left:30%;
	z-index:3;
	cursor:move;
	cursor:grab;
}

.imageIssLong:active {
	cursor:grabbing;
}

.imageIssCircle {
	width:18%;
	position:absolute;
	top:8%;
	right:4%;
	z-index:3;
	border-radius:50%;
	overflow:hidden;
	cursor:move;
	cursor:grab;
}

.imageIssCircle:active {
	cursor:grabbing;
}

.imageIssTriangle {
	width:18%;
	position:absolute;
	bottom:0%;
	left:4%;
	z-index:3;
	cursor:move;
	cursor:grab;
}

.imageIssTriangle:active {
	cursor:grabbing;
}

.imageIssStars {
	width:99%;
	position:absolute;
	top:-1.5%;
	right:0.5%;
	z-index:-1;
}

.imageIssEarth {
	width:38%;
	position:absolute;
	top:30%;
	left:5%;
	z-index:-2;
}

.issVideoWindow {
	width:38%;
	height:28%;
	position:absolute;
	bottom:-5%;
	right:10%;
	z-index:1;
	background-color:black;
	border:1px solid whitesmoke;
	overflow:hidden;
}

.issTrackerWindow {
	width:24%;
	height:40%;
	position:absolute;
	top:30%;
	right:15%;
	z-index:1;
	background-color:black;
	border:1px solid whitesmoke;
	overflow:hidden;
}



/* GNSS IMAGES */

.titleGnss {
	font-family:Helvetica;
	font-size:5vw;
	font-weight:600;
	color:whitesmoke;
	text-shadow:0 0 3px black;
	width:38%;
	position:absolute;
	top:6%;
	left:2%;
	z-index:15;
}

.imageGnssEarth {
	width:76%;
	position:absolute;
	top:4%;
	right:17%;
	z-index:-1;
}

.gnssMapWindow {
	width:38%;
	height:28%;
	position:absolute;
	bottom:0%;
	right:10%;
	z-index:9;
	background-color:whitesmoke;
	border:1px solid black;
	overflow:hidden;
	filter:invert() hue-rotate(200deg);
}

.imageGnssCircle {
	width:18%;
	position:absolute;
	top:82%;
	right:78%;
	z-index:4;
	border-radius:50%;
	overflow:hidden;
	cursor:move;
	cursor:grab;
}

.imageGnssCircle:active {
	cursor:grabbing;
}

.imageGnssSquare1 {
	width:18%;
	position:absolute;
	top:14%;
	right:4%;
	z-index:3;
	cursor:move;
	cursor:grab;
}

.imageGnssSquare1:active {
	cursor:grabbing;
}

.imageGnssSquare2 {
	width:18%;
	position:absolute;
	top:37%;
	right:4%;
	z-index:3;
	cursor:move;
	cursor:grab;
}

.imageGnssSquare2:active {
	cursor:grabbing;
}

.imageGnssIphone {
	width:34%;
	position:absolute;
	bottom:4%;
	left:10%;
	z-index:3;
	cursor:move;
	cursor:grab;
}

.imageGnssIphone:active {
	cursor:grabbing;
}



/* OBSERVATION IMAGES */

.titleObservation {
	font-family:Helvetica;
	font-size:5vw;
	font-weight:600;
	color:whitesmoke;
	text-shadow:0 0 3px black;
	width:38%;
	position:absolute;
	top:6%;
	left:2%;
	z-index:15;
}

.imageObSverdrup {
	width:38%;
	position:absolute;
	bottom:-5%;
	right:10%;
	z-index:1;
}

.imageEarthEclipse {
	width:18%;
	position:absolute;
	top:5%;
	right:33%;
	z-index:9;
	border-radius:50%;
	overflow:hidden;
	cursor:move;
	cursor:grab;
}

.imageEarthEclipse:active {
	cursor:grabbing;
}

.imageObBlue {
	width:18%;
	position:absolute;
	top:28%;
	right:78%;
	z-index:9;
	border-radius:50%;
	overflow:hidden;
	cursor:move;
	cursor:grab;
}

.imageObBlue:active {
	cursor:grabbing;
}

.imageObYellow {
	width:18%;
	position:absolute;
	top:51%;
	right:78%;
	z-index:9;
	border-radius:50%;
	overflow:hidden;
	cursor:move;
	cursor:grab;
}

.imageObYellow:active {
	cursor:grabbing;
}

.imageObRed {
	width:18%;
	position:absolute;
	top:74%;
	right:4%;
	z-index:9;
	border-radius:50%;
	overflow:hidden;
	cursor:move;
	cursor:grab;
}

.imageObRed:active {
	cursor:grabbing;
}

.imageObCircle {
	width:18%;
	position:absolute;
	top:97%;
	right:4%;
	z-index:9;
	border-radius:50%;
	overflow:hidden;
	cursor:move;
	cursor:grab;
}

.imageObCircle:active {
	cursor:grabbing;
}

.imageObBig {
	width:38%;
	position:absolute;
	top:9.5%;
	right:4%;
	z-index:2;
	cursor:move;
	cursor:grab;
}

.imageObBig:active {
	cursor:grabbing;
}

.imageLandsat {
	width:36%;
	position:absolute;
	bottom:-12%;
	right:14%;
	z-index:-1;
	cursor:move;
	cursor:grab;
}

.imageLandsat:active {
	cursor:grabbing;
}

.imageWindowOb1 {
	width:38%;
	position:absolute;
	top:20%;
	left:32%;
	border:1px solid whitesmoke;
	cursor:move;
	cursor:grab;
}

.imageWindowOb1:active {
	cursor:grabbing;
}

.imageWindowOb2 {
	width:38%;
	position:absolute;
	top:38%;
	right:10%;
	border:1px solid whitesmoke;
	cursor:move;
	cursor:grab;
}

.imageWindowOb2:active {
	cursor:grabbing;
}

.obVideoWindow {
	width:38%;
	height:28%;
	position:absolute;
	bottom:-3%;
	left:6%;
	z-index:1;
	background-color:black;
	border:1px solid whitesmoke;
	overflow:hidden;
}

.obVideoWindow:active {
	cursor:grabbing;
}



/* CURRENT IMAGES */

.titleCurrent {
	font-family:Helvetica;
	font-size:5vw;
	font-weight:600;
	color:whitesmoke;
	text-shadow:0 0 3px black;
	width:38%;
	position:absolute;
	top:7%;
	left:2%;
	z-index:9;
}

.key {
	width:24%;
	position:absolute;
	top:20%;
	left:20%;
	padding:0.8vw;
	font-family:'HelveticaMonospacedW06-Rg';
	font-size:0.8vw;
	line-height:120%;
	color:whitesmoke;
	background-color:black;
	border:1px solid whitesmoke;
	transition:color 1s ease-out, background-color 1s ease-out;
	z-index:30;
}

.key:hover {
	color:black;
	background-color:whitesmoke;
}

mark.red {
	color:#D2232A;
	background:none;
}

mark.green {
	color:#41AD49;
	background:none;
}

mark.blue {
	color:#00AEEF;
	background:none;
}

mark.pink {
	color:#EC008C;
	background:none;
}

mark.yellow {
	color:#FFF200;
	background:none;
}


.graph {
	width:80%;
	position:absolute;
	top:20%;
	left:10%;
	z-index:2;
	pointer-events:none;
}

.values {
	width:90%;
	height:49vw;
	position:absolute;
	top:20%;
	left:5%;
	z-index:20;
	font-family:'HelveticaMonospacedW06-Rg';
	font-size:0.8vw;
	line-height:120%;
	color:whitesmoke;
	z-index:2;
}

mark.values0 {
	line-height:0.8vw;
	background:none;
	color:whitesmoke;
}

mark.values1 {
	line-height:0.8vw;
	background:none;
	color:whitesmoke;
}

mark.values2 {
	line-height:10vw;
	background:none;
	color:whitesmoke;
}

mark.values3 {
	line-height:8vw;
	background:none;
	color:whitesmoke;
}

.imageCurrentTriangle {
	width:18%;
	position:absolute;
	bottom:20%;
	right:4%;
	z-index:30;
	cursor:help;
}

.imageHole {
	width:25%;
	position:absolute;
	top:48%;
	left:26%;
	z-index:1;
	pointer-events:none;
}

.satObjects {
	width:90%;
	position:absolute;
	top:10%;
	left:5%;
	z-index:10;
	overflow: visible;
}

.satCircle {
	fill:black;
	fill-opacity:0;
	stroke:whitesmoke;
	stroke-width:1.3551;
	transition:fill .3s ease-out, stroke-width .3s ease-out;
}

.satCircle:hover {
	fill:whitesmoke;
	fill-opacity:1;
	stroke-width:8;
}

.copy {
	width:23%;
	position:absolute;
	bottom:2%;
	right:2%;
	padding:0.6vw;
	font-family:'HelveticaMonospacedW06-Rg';
	text-align:center;
	font-size:0.8vw;
	line-height:120%;
	color:whitesmoke;
	background-color:black;
	border:1px solid whitesmoke;
	transition:color 1s ease-out, background-color 1s ease-out;
	z-index:30;
}

.copy:hover {
	color:black;
	background-color:whitesmoke;
}






/* CONTAINER DIVS */

.containerFirst {
	width:100%;
	position:relative;
}

.containerApollo {
	width:100%;
	position:relative;
}

.containerIss {
	width:100%;
	position:relative;
}

.containerGnss {
	width:100%;
	position:relative;
}

.containerObservation {
	width:100%;
	position:relative;
}

.containerCurrent {
	width:100%;
	position:relative;
}



/* DATA DIVS */

.dataFirst {
	  width:100%;	
  }

.dataApollo {
	width:100%;
}

.dataIss {
	width:100%;
}

.dataGnss {
	width:100%;
}

.dataObservation {
	width:100%;
}

.dataCurrent {
	width:100%;
}



/* INNER, COLUMN, AND ROW DIVS */

.inner {
	padding:1px;
	font-family:'HelveticaMonospacedW06-Rg';
	font-size:0.8vw;
	color:whitesmoke;
}

.row {
	display:flex;
	flex-wrap:wrap;
}

.colLaunch {
	width:4.278%;
}

.colYear {
	width:2.14%;
} 

.colMonth {
	width:1.6%;
} 

.colDay {
	width:1.6%;
	text-align:right;
} 

.colTime {
	width:2.14%;
	text-align:right;
} 

.colSeconds {
	width:2.14%;
} 

.colCospar {
	width:6.42%;
} 

.colPlace {
	width:14.97%;
} 

.colOriginal {
	width:13.37%;
} 

.colSatcat {
	width:3.21%;
} 

.colVehicle {
	width:11.23%;
} 

.colSerial {
	width:8.02%;
} 

.colSite {
	width:16.58%;
} 

.colSuc {
	width:1.6%;
} 

.colRef {
	width:10.7%;
} 

  














