body {
	background-color: black;
	font-family: 'AppleGaramondLight';
	font-size: 40px;
	letter-spacing: 0.01em;
	color: white;
	-webkit-font-smoothing: antialiased;
	overscroll-behavior-x: none;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

	::selection {
		background: blue;
	}

	a::selection {
		background: blue;
		color: white;
	}

@font-face {
	font-family: 'AppleGaramondLight';
	src: url('fonts/AppleGaramondLight.woff2') format('woff2');
}

.material-icons { font-size: 100px; }

a {
	background-color: none;
	color: blue;
	text-decoration: none;
	text-transform: none;
  }
		a.copy {
			color: white;
		}

		a.white {
			color: white;
		}
  
	a:hover {
		background-color: blue;
	}

		a.ten:hover {
			border-radius: 10px;
		}

		a.copy:hover {
			border-radius: 40px;
		}
	
	a:active {
		background-color: blue;
	}

		a.ten:active {
			border-radius: 10px;
		}

		a.copy:active {
			background-color: black;
			border-radius: 40px;
		}
	
	a:visited {
		color: blue;
	}

		a.copy:visited {
			color: white;
		}

		a.white:visited {
			color: white;
		}

	a:focus {
		background-color: blue;
	}

		a.ten:focus {
			border-radius: 10px;
		}

		a.white:focus {
			color: white;
		}

.nobreak {
	white-space:nowrap;
}

.container {
	display: flex;
	position: relative;
	justify-content: center;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	max-height: 100%;
	margin-bottom: 545px;
	background-color: black;
}

.chat {
	display: flex; /* This is the flex container/parent */
	flex-flow: row wrap; /* Main Axis: Horizontal */
	align-items: stretch;
	justify-content: flex-end; /* Aligns to right side */
	align-content: center; /* Aligns to center */
	gap: 30px 20px; /* gap between row and column */
	width: 100%;
	margin: 40px;
	background-color: black;
}

.messages {
	width: 100%;
	height: 70%;
	padding: 28px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: black;
	border: solid 1px white;
	border-radius: 40px;
	overflow: scroll;
}

	.messages::-webkit-scrollbar {
		display: none;
	}

	@keyframes fadein {
		from	{opacity: 0;}
		to		{opacity: 1;}
	}

	.humanfade {
		animation-name: fadein;
		animation-duration: 0.8s;
		animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
	}	

	@keyframes bfadein {
		from	{opacity: 0;}
		to		{opacity: 1;}
	}

	.botfade {
		animation-name: bfadein;
		animation-duration: 0.8s;
		animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
	}

	.bot {
		display: block;
		padding: 16px;
	}

	.human {
		display: block;
		padding: 16px;
		margin-left:40px;
	}

		.botname {
			margin-bottom: 10px;
		}

		.humanname {
			margin-bottom: 10px;
		}

			.tag {
				border-bottom: solid 1px white;
			}

		.response {
			display: block;
			margin-left:20px;
		}


.control {
	display: flex; /* This is the flex container/parent */
	flex-flow: row nowrap; /* Main Axis: Horizontal */
	align-items: stretch; /* Aligns along Cross Axis (Vertical) */
	justify-content: flex-end; /* Aligns to right side */
	gap: 30px 16px; /* gap between row and column */
	width: 100%;
}

	input { 
		flex-basis: 600px;
		height: 60px;
		padding-left: 20px;
		padding-right: 20px;
		border: 0;
		border-radius: 40px;
		outline: none;

		font-family: 'AppleGaramondLight';
		font-size: 30px;
		color: black;
	}

			input:focus {
				background-color: blue;
				color: white;
			}

			input::placeholder {
				color: blue;
				opacity: 1;
			}

			input::selection {
				background: black;
			}

	.send {
		width: 112px;
		height: 60px;
		padding-left: 20px;
		padding-right: 20px;
		border: 0;
		border-radius: 40px;
		outline: none;

		font-family: 'AppleGaramondLight';
		font-size: 30px;
		color: white;
		background-color: blue;
		cursor: pointer;
	}

	
.footer {
	display: flex; /* This is the flex container/parent */
	flex-flow: row wrap; /* Main Axis: Horizontal */
	align-content: flex-start;
	gap: 30px 16px; /* gap between row and column */
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 545px;
	z-index: -1;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: blue;
}

	.left { 
		/* This is for the flex item */
		flex-grow: 2; /* How much space will this item get compared to other items */
		flex-shrink: 2; /* How much space will this item get compared to other items */
		flex-basis: 500px; /* Minimum width before wrap */

		/* This is for children of this div */
		display: flex;
		flex-flow: column wrap; /* Main Axis: Horizontal */
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
	}

		.title {
			display: flex;
			padding-bottom: 20px;
			font-size:calc(36px + 7vw);
			line-height: 86%;
			white-space: nowrap;
			user-select: none;
		}
	
	.right { 
		/* This is for the flex item */
		flex-grow: 1; /* How much space will this item get compared to other items */
		flex-shrink: 1; /* How much space will this item get compared to other items */
		flex-basis: 400px; /* Minimum width before wrap */
		max-width: 600px;
		gap: 35px 35px; /* gap between row and column */

		/* This is for children of this div */
		display: flex;
		flex-flow: column wrap; /* Main Axis: Horizontal */
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
	}

		.about {
			font-size:calc(32px + 1vw);
			user-select: none;
			cursor: help;
		}
		
		.copy {
			max-width: 420px;
			min-width: 420px;
			border: solid 1px white;
			border-radius: 40px;
			padding: 10px;
			background: none;
	
			font-family: 'Courier New', Courier, monospace;
			font-size: 14px;
			color: white;
			text-align: center;
			user-select: none;
		}

		.copy:hover {
			background: black;
		}

@media  screen and (min-width: 1536px) {

	.chat {

		width: 1200px;

	}

}


@media  screen and (max-width: 550px) {

	body {
		font-size: 34px;
	}

	.copy {
		max-width: 250px;
		min-width: 250px;
	}

	.uni {
		display: none;
	}

}

@media  screen and (max-width: 480px) {

	body {
		font-size: 30px;
	}

	.chat {
		width: 90%;
		margin: 24px;
	}
	
	.messages {
		padding: 11px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.send {
		display: none;
	}

	.copy {
		max-width: 250px;
		min-width: 250px;
	}

	.uni {
		display: none;
	}

}