body {
	background-color: blue;
	font-family: 'AppleGaramondLight';
	font-size: 40px;
	letter-spacing: 0.01em;
	color: white;
	-webkit-font-smoothing: antialiased;
	overscroll-behavior-x: none;
}

	body::-webkit-scrollbar {
		display: none;
	}

	::selection {
		background: black;
		color: white;
	}

	a::selection {
		background: black;
		color: white;
	}

@font-face {
	font-family: 'AppleGaramondLight';
	src: url('fonts/AppleGaramondLight.woff2') format('woff2');
}

.material-icons { 
	font-size: 100px; 
} 

	.smaller {
		font-size: 0.8em;
	}

.underline {
	border-bottom: solid 1px white;
}

.underline2 {
	border-bottom: solid 1px white;
}

	.underline2:hover {
		border: none;
	}

.nobreak {
		white-space:nowrap;
}

a {
	background-color: none;
	color: white;
	text-decoration: none;
	text-transform: none;
  }

		a.fcopy {
			color: white;
		}
  
	a:hover {
		background-color: white;
	}

		a.blue:hover {
			background-color: transparent;
		}

		a.ten:hover {
			border-radius: 10px;
		}

		a.fcopy:hover {
			background-color: black;
			border-radius: 40px;
		}

		a.tag:hover {
			background-color: black;
			border-radius: 40px;
		}
	
	a:active {
		background-color: white;
	}

		a.ten:hover {
			border-radius: 10px;
		}

		a.blue:active {
			background-color: transparent;
		}

		a.fcopy:active {
			background-color: black;
			border-radius: 40px;
		}

		a.tag:active {
			background-color: black;
			border-radius: 40px;
		}
	
	a:visited {
		color: white;
	}

	a:focus {
		background-color: white;
	}

		a.ten:focus {
			border-radius: 10px;
		}

		a.blue:focus {
			background-color: transparent;
		}

		a.fcopy:focus {
			background-color: black;
		}

		a.tag:focus {
			background-color: black;
		}



.page {
	display: flex;
	flex-flow: row wrap; /* Main Axis: Horizontal */
	overflow: scroll;
	width: 100vw;
	height: 100vh;
}

.heading {
	display: flex; /* This is the flex container/parent */
	flex-flow: row wrap; /* Main Axis: Horizontal */
	align-content: flex-start;
	gap: 30px 16px; /* gap between row and column */

	min-height: 100vh;
	width: 50%;
	padding-left: calc(30px + 2vw);
	padding-right: calc(30px + 2vw);
	padding-top: 50px;
	padding-bottom: 60px;
	background-color: blue;
	border-right: solid 1px white;
}

	.ftitle {
		font-size: 8vw;
		line-height: 86%;
		user-select: none;
		padding-bottom: 15px;
	}

	.fsub {
		font-size: calc(32px + 1vw);
		user-select: none;
		padding-bottom: 4px;
		cursor: help;
	}

	.fcopy {
		min-width: 420px;
		max-width: 420px;
		border: solid 1px white;
		border-radius: 40px;
		padding: 10px;
		background: none;

		font-family: 'Courier New', Courier, monospace;
		font-size: 14px;
		color: white;
		text-align: center;
		user-select: none;
	}

.friends {
	display: flex; /* This is the flex container/parent */
	flex-flow: row wrap; /* Main Axis: Horizontal */
	align-content: flex-start;

	height: 100vh;
	width: 50%;
	background-color: blue;
	overflow: scroll;
}

	.bb {
		border-bottom: solid 1px white;
	}

	.block {
		display: flex; /* This is the flex container/parent */
		flex-flow: row wrap; /* Main Axis: Horizontal */
		align-content: flex-start;
		gap: 22px 16px; /* gap between row and column */

		width: 100%;
		min-height: 300px;
		padding: 40px;
		font-size: 32px;
	}

		.title {
			line-height: 120%;
		}
		
		.tags {
			display: flex;
			flex-flow: row wrap; /* Main Axis: Horizontal */
			justify-content: flex-start;
			align-items: flex-start;
			align-content: flex-start;
			gap: 10px 10px; /* gap between row and column */
		}
		
			.tag {
				border: solid 1px white;
				border-radius: 40px;
				padding: 10px;
				padding-left: 15px;
				padding-right: 15px;
				background: none;
		
				font-family: 'Courier New', Courier, monospace;
				font-size: 14px;
				color: white;
				text-align: center;
				user-select: none;
			}

@media  screen and (max-width: 988px) {

	.heading {
		flex-flow: column nowrap;
		width: 100%;
		min-height: 450px;
		border-right: none;
		border-bottom: solid 1px white;
	}

	.ftitle {
		font-size: 16vw;
		line-height: 86%;
		user-select: none;
		padding-bottom: calc(10px + 1vw);
	}

	.fsub {
		font-size: calc(30px + 2vw);
		max-width: 800px;
	}

	.friends {
		height: fit-content;
		width: 100%;
	}
}

@media  screen and (max-width: 550px) {

	.fcopy {
		max-width: 250px;
		min-width: 250px;
	}

	.uni {
		display: none;
	}

}

@media  screen and (max-width: 450px) {

	.heading {
		min-height: 400px;
	}

	.fsub {
		font-size: calc(25px + 2vw);
	}

	.fcopy {
		max-width: 250px;
		min-width: 250px;
	}

	.uni {
		display: none;
	}

}
